@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*{
    margin: 0;
    padding: o;
}
.container{
    background: url(pexels-tobi-620337.jpg);
    height: 100vh;
    background-size: 100% 100%;

} 